#title {
    background-color: #05DFD7;
    padding: 5px 0px 10px 0px;
    color: white;
}

body {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 900;
    font-size: 2.7rem;
    line-height: 1.5;
}

nav {
    margin-bottom: 3rem;;
}

.btn {
    margin: 30px 10px 10px 0px;
}

.container-fluid {
    padding: 3% 15%;
}

.nav-item {
    padding-left: 50px;
}

.nav-link {
    size: 1.1rem;
}

.navbar-brand {
    font-family: 'Ubuntu Condensed';
}

#main-home-img {
    position: absolute;
    transform: rotate(6deg);
    margin-bottom: 100px;
    margin-right: 20px;
    height: 410px;
}

#name {
    font-size: 3rem;
}

#features {
    height: 215px;
}

.features {
    text-align: center;
}

.feature-box h3 {
    padding: 15px 0 0 0;
}

.feature-list {
    text-align: center;
}

.home-icon {
    color: #F35588;
}

.home-icon:hover {
    color: #ee7299;
}

.f1 {
    padding-right: 10px;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials {
    text-align: center;
    background-color: #A3F7BF;
    color: #6fc48b;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px 20px 0px 20px;
}

#press {
    background-color: #A3F7BF;
    text-align: center;
    padding-bottom: 3%;
}

.testimonial-logo {
    width: 7%;
    margin: 0px 40px 40px;
}

#pricing {
    padding: 7% 15%;
}

.pricing-heading {
    text-align: center;
    margin-bottom: 50px;
}

#pricing .classic-btn:hover {
    background-color: #F35588;
    color: #fff !important;
}

#pricing .premium-btn:hover {
    background-color: #fff !important;
    color: #F35588;
}



@media screen and (max-width: 390px) {

        #main-home-img {
            display: none;
        }

        h1 {
            font-size: 1.5rem;
            padding-bottom: 20px;
        }

        .btn {
            width: 45%;
            font-size: 50%;
            margin: 0;
            margin-bottom: 30px;
        }

        #features {
            margin: 30px 0;
        }

        .feature-box h3 {
            font-size: 1rem;
        }

        .feature-box p {
            display: none;
        }

        h2 {
            font-size: 1rem;
        }

        em {
            font-size: 10px;
        }

        .testimonial-img {
            width: 20%;
        }

        .testimonial-logo {
            margin: 5px 8px 30px;
            width: 18%;
        }
    
}